{% extends 'base.html' %}

{% block content %}
<nav class="p-5 flex justify-between m-3">
    <div class="text-5xl font-bold text-white h-50">
        Hello, <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">{{nama}}!</span>
    </div>
    <div class="flex gap-2 font-semibold">
        <div class="btn login_btn p-2 bg-gradient-to-r from-green-300 to-blue-800 rounded-lg w-fit text-white text-sm px-8 md:py-3 lg:py-3 py-9">
            <button><a href="{% url 'todolist:create-task' %}">Add Task</a></button>
        </div>
        <div class="btn login_btn p-2 bg-gradient-to-r from-red-500 to-[#3F0071] rounded-lg w-fit text-white text-sm px-7 md:py-3 lg:py-3 py-9">
            <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
        </div>
    </div>
</nav>

<div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4">
    {% for todolist in data_todolist %}
    <div class="w-full transform transition duration-500 hover:scale-105">
        {% if todolist.is_finished %}
        <div class="rounded-3xl bg-gradient-to-r from-blue-100 to-green-600 p-4">
            {% else %}
        <div class="rounded-3xl bg-gradient-to-r from-blue-100 to-rose-600 p-4">
        {% endif %}
            <div class="flex justify-between">
                <span class="text-xs">
                    {{ todolist.date }}
                </span>
                <a href="{% url 'todolist:delete-task' todolist.id %}">
                    <ion-icon name="trash-outline"></ion-icon>
                </a>
            </div>
            <div class="flex justify-between">
                <span class="font-bold text-lg">{{ todolist.title }}</span>
            </div>
            <p>{{ todolist.description }}</p>
            {% if todolist.is_finished %}
            <a href="{% url 'todolist:update-task' todolist.id %}" class="flex justify-center mt-6">
                <ion-icon name="checkmark-outline"></ion-icon>
            </a>
            {% else %}
            <a href="{% url 'todolist:update-task' todolist.id %}" class="flex justify-center mt-6">
                <ion-icon name="close-outline"></ion-icon>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}